<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AirTalk</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/AirTalk(Console style)/css/consoleStyle.css"/>
</head>
<body class="bg">
    <main>
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>