@model AirTalk.Models.ViewModels.CreateThemeViewModel;
<form id="createThemeForm" asp-antiforgery="true" method="post">
    <div>
        <label  asp-for="name">Name:</label><br />
        <input id="themeName" asp-for="name" placeholder="Write here header" />
    </div>
    <div>
        <label asp-for="body">Body:</label><br />
        <textarea id="body" asp-for="body" placeholder="Write here main message" />
        <input id="userName" type="hidden" value=@User.Identity.Name />
    </div>
    <button type="submit">Create theme</button>
</form>
<script id="createThemeScript">
    $(function () {
        $("#createThemeForm").submit(function (e) {
            e.preventDefault();
            createThemeAjaxFunc();
        });
    });
</script>

