@model UserSignInVM
<form id="form" asp-action="Login" asp-controller="Account" >
    <div>
        <div>
            <label for="loginOrEmail">Login:</label><br />
            <input asp-for="loginOrEmail" placeholder="Login/Email" /><span asp-validation-for="loginOrEmail"></span>
        </div>
        <div>
            <label for="password">Password</label><br />
            <input asp-for="password" placeholder="Password" /><span asp-validation-for="password"></span>
        </div>
        <button id="btn" type="submit" class="btn-toolbar">Sign In</button>
    </div>
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@
    <script>
        $('#form').submit(function () {
            let formAction = $(this).attr("action");
            $.ajax({
                type: "POST",
                url: formAction,
                data: { loginOrEmail:$("#loginOrEmail").val(), password:$("#password").val() },
                //data: new FormData().append('user', $('#form').serialize()),
                //processData: false,
                //contentType: false,
                type: "text",
                complete: function () {
                    console.log('complete')
                },
                success: function (res) {
                    console.log('OK');
                },
                error: function () {
                    console.log('error');
                }
            })
        });
    </script>
