@model UserSignInVM
        <div>
            <label>Login:</label><br />
            <input @*asp-for="loginOrEmail"*@ id="login" placeholder="Login/Email" />@*<span asp-validation-for="loginOrEmail"></span>*@
        </div>
        <div>
            <label>Password</label><br />
            <input @*asp-for="password"*@ id="password" placeholder="Password" />@*<span asp-validation-for="password"></span>*@
        </div>
        <button id="btn" type="button" class="btn-toolbar">Sign In</button>

<script>

    $("#btn").click(function () {
        let data = { loginOrEmail: $("#login").val(), password: $("#password").val() };
        $.ajax({
            type: "POST",
            url: "/Account/Login",
            dataType: "text",
            data: data,
            success: function (response) {
                $("#output").append(response);
            },
            error: function (req, status, error) {
                addTextToConsole("error - service is still under developing");
            }
        });
    });
</script>

    
