@model AirTalk.Models.DBModels.UserModel;
@{
    ViewData["Title"] = "Account";
}
    <body>
        <div>
        <h1>AccountView</h1>
        <div>
            <label asp-for="firstName"></label><br />
            <input asp-for="firstName"/>
        </div>
        <div>
            <label asp-for="lastName"></label><br />
            <input asp-for="lastName"/>
        </div>
        <div>
            <label asp-for="login"></label><br />
            <input asp-for="login"/>
        </div>
        <div>
            <label asp-for="email"></label><br />
            <input asp-for="email" />
        </div>
        </div>
    </body>

