@model AirTalk.Models.ViewModels.UserRegistrationVM;
@{
    ViewData["Title"] = "Registration";
}
<form asp-antiforgery="true" asp-action="Registration" asp-controller="Home">
    <div>
        <h1>Registration form</h1>
        <div>
            <label asp-for="login">Login:</label>
            <input asp-for="login" />
            <span asp-validation-for="login"></span>
        </div>
        <div>
            <label asp-for="email">Email:</label>
            <input asp-for="email" />
            <span asp-validation-for="email"></span>
        </div>
        <div>
            <label asp-for="password">Password</label>
            <input asp-for="password" />
            <span asp-validation-for="password"></span>
        </div>
        <div>
            <label asp-for="confirmPassword">Confirm password:</label>
            <input asp-for="confirmPassword" />
            <span asp-validation-for="confirmPassword"></span>
        </div>
        <button type="submit">Confirm Registration</button>
        <button type="reset">Reset</button>
    </div>
</form>
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}