*{
    box-sizing: border-box;
    font-family: 'Jura';
    outline: none;
}
html, body {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0%;
}

::-webkit-scrollbar { width: 10px; height: 0px;}
::-webkit-scrollbar-button {  background-color: #666 ; }
::-webkit-scrollbar-track {  background-color: rgba(153, 153, 153, 0);}
::-webkit-scrollbar-track-piece { background-color: #ffffff00;}
::-webkit-scrollbar-thumb { height: 50px; background-color: rgba(102, 102, 102, 0.5); border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #666;}
::-webkit-resizer { background-color: rgb(102, 102, 102);}

.font-small{
    font-size: max(6px,1.25vmin);
}
.font-small-medium{

    font-size: max(9px,1.75vmin);
}
.font-medium{
    font-size: max(12px, 2.5vmin);
}
.font-big{
    font-size: max(24px, 5vmin);
}

.toolbar{
    position: fixed;
    left: 0%;
    
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 5%;
    float: left;
    background: linear-gradient(45deg, #292929 25%,
     transparent 25%, transparent 75%, #292929 75%),
      linear-gradient(45deg, #292929 25%, transparent 25%,
       transparent 75%, #292929 75%) 0.1875em 0.1875em, radial-gradient(at 50% 0, #484847, #090909);
    background-size: 0.375em 0.375em,
     0.375em 0.375em, 100% 100%;
}
.toolbar .toolbar-button-chatmode{
    display: block;
    position: absolute;
    bottom: 10%;
    margin-left: auto;
    width: max(20px, 4vmin);
    height: max(20px, 4vmin);
    border: 1px outset rgb(124, 124, 124);
    border-radius: 50%;
    background-color: rgba(134, 134, 134, 0.5);
}
.toolbar .toolbar-button-chatmode.on{
    animation-name: bg-clr-green-bloom;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.toolbar .toolbar-button-chatmode.off{
    animation-name: bg-clr-yellow-bloom;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}




.container-console{
    right: 0%;
    position: absolute;
    width: 95%;
    height: 100%;
    margin: auto auto;
    background-color: #171624;
}

.container-console .console-header{
    display: flex;
    flex-flow: row nowrap;
    justify-items: flex-start;
    background-color: #3d3d3d;
    height: 4vmin;
    width: 100%;
    align-items: center;
    padding: 0.5vmin;
    border-radius: 5px;
    border: 2px solid darkgoldenrod;
    border-top: none;
    border-right: none;
    border-left: none;
    min-height: 0.5cm;
    
}
.console-header .logo{
    
    color: darkgoldenrod;
    justify-self: left;
}
.console-header .user{
    color: darkgray;
    justify-self: right;
    margin-left: 1vmin;
}


.container-console .console-output{
    width: 58%;
    height: 100%;
    float: left;
}
.container-console .console-output .chatbox{
    display: block;
    height: 75%;
}
.chatbox .chat{
    padding: 1%;
    display: block;
    overflow-y: scroll;
    width: 100%;
    height: 100%;

}
.chat .message{
    width: 100%;
    display: inline-block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.container-console .console-output .console-input-container{
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    height: 20%;
    bottom: 0px;
    width: 55%;
}
.console-input-container .keyboard{
    display: block;
    width: 100%;
}
.keyboard textarea{
    padding: 2%;
    resize: none;
    width: 100%;
    height: 100%;
    border: 1px solid darkgoldenrod;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
    background-color:rgba(255, 255, 255, 0.10);
    color: darkgray;
}
.console-input-container .sidebar{
    flex: 3;
}




.container-console .themebox{
    position: fixed;
    right: 0%;
    float: right;
    height: 100%;
    width: 40%;
    border: 2px solid darkgoldenrod;
    border-bottom: none;
    border-top: none;
}
.container-console .themebox .console-header{
    padding: 0pc;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-items: left;
    position: relative;
    background-color: #3d3d3d;
    height: fit-content;
    min-height: 0.5cm;
    width: 100%;

}
.container-console .themebox .console-header .tab{
    flex: 1;
    display: inline-block;
    position: relative;
    min-width: 3cm;
    border: 1px solid rgba(211, 211, 211, 0.5);
    border-left: none;

}
.tab span{
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    overflow: hidden;
}
.tab button.btn-close{
    display: inline-block;
    position: absolute;
    font: max( 10px, 2vmin) 900 italic;
    width: max(20px, 20%);
    height: max(20px, 50%);
    top: 0px;
    right: 0px;
    color: darksalmon;
    background: none;
    border: 2px solid rgba(211, 211, 211, 0.5);
    border-top: none;
    border-right: none;
    justify-content: center;
    align-content: center;
    margin-left: 15px;
    padding: 0;
}
.tab.selected{
    background-color: rgba(255, 255, 255, 0.199);
}
.themebox .theme-body{
    text-align: center;
    align-content: center;
}



.txt-console-green{
    animation-name: clr-green-bloom;
    animation-duration:  3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.txt-console-orange{
    animation-name: clr-orange-bloom;
    animation-duration:  3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.txt-console-bg-gray{
    animation-timing-function: ease-in;
    animation-name: bg-clr-gray-bloom-es;
    animation-duration:  10s;
    animation-iteration-count: infinite;
}

@keyframes bg-clr-yellow-bloom{
    from{background-color:rgba(255, 217, 0, 0.3);}
    to{background-color: rgba(255, 217, 0, 0.65);}
}
@keyframes bg-clr-green-bloom{ 
    from {background-color:rgba(56, 128, 53, 0.603);}
    to {background-color: rgba(102, 255, 112, 0.5);}
}

@keyframes clr-green-bloom{
    from {color:rgba(9, 255, 0, 0.5);}
    to {color: rgba(7, 226, 22, 0.753);}
}
@keyframes clr-orange-bloom{
    from {color: darkgoldenrod;}
    to {color:  rgb(255, 183, 2);}
}
@keyframes bg-clr-gray-bloom{
    from {background-color: #0c0c0c00;}
    to {background-color: #ffffff23;}
}
@keyframes bg-clr-gray-bloom-es{
    0%{
        background-color: #0c0c0c4d;
    }
    10%{
        background-color: #ffcd4d0c;
    }
    15%{
        background-color: #0c0c0c4d;
    }
    100%{
        background-color: #0c0c0c4d;
    }
}
@font-face{
    font-family: 'Jura';
    src: url(Fonts/static/Jura-SemiBold.ttf);
}