@{string current_user = "unsigned";
    if (User.Identity.IsAuthenticated)
    {
        current_user = User.Identity.Name;
    }
}
<div class="toolbar">
</div>
<div class="container-console">
    <div class="console-header font-medium">
        <div class="logo txt-console-orange">Terminal: </div>
        <div class="user"> @current_user</div>
        <button id="test" type="button">Test</button>
    </div>
    <div id="output" class="console-output txt-console-orange font-medium">
        <div>~ Welcome to airTalk!</div>
    </div>
    <div class="console-input-container">
        <div class="sidebar">
        </div>
        <div class="keyboard">
            <textarea id="input" rows="1" class="txt-console-bg-gray font-medium"></textarea>
        </div>
        <div class="sidebar">
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $("#test").click(function () {
            $("#loginScript").remove();
        });
    </script>@*Test buttton script, delete later*@
    <script>
        var addTextToConsole = function (text) {
            let textDiv = document.createElement("div");
            let innerText = document.createTextNode('~ ' + text);
            textDiv.append(innerText);
            $("#output").append(textDiv);
        };

        $('#input').keypress(function (e) {
            if (e.keyCode == 13) {
                let cmd = $(this).val();
                e.preventDefault();
                addTextToConsole(cmd);
                $(this).val('');
                getAjaxFromTerminal(cmd);
            }
        });

        var clear = function () {
            $("#output").empty();
        }

        var getAjaxFromTerminal = function (cmd) {
            $.ajax({
                type: "POST",
                url: "Terminal/InitializeCommand",
                data: { request: cmd },
                dataType: "text",
                beforeSend: function () {
                    $('#input').prop('disabled', true);
                },
                complete: function () {
                    $('#input').prop('disabled', false);
                    $('#input').focus();
                },
                success: function (response) {
                    getFinalAjax(response);
                },
                error: function (req, status, error) {
                    addTextToConsole("error - service is still under developing");
                }
            });
        };

        var getFinalAjax = function (response) {
            let tResult = JSON.parse(response);
            let tUrl = "/Terminal/" + tResult.action;
            let params = tResult.keyParams;
            $.ajax({
                type: "POST",
                url: tUrl,
                data: params,
                dataType: "text",
                success: function (subResponse) {
                    try {
                        let tSubResult = JSON.parse(subResponse);
                        if (tSubResult.isJsMethod == true) {
                            window[tSubResult.context]();
                        }
                        else {
                            addTextToConsole(subResponse.context);
                        }
                    }
                    catch (err) {
                        $("#output").append(subResponse);
                    }
                }
            });
        }
    </script> @*interpreter script for cmd-line*@
    <script>
        var loginAjaxFunc = function () {
            let data = { loginOrEmail: $("#login").val(), password: $("#password").val() };
            $.ajax({
                type: "POST",
                url: "/Account/Login",
                dataType: "text",
                data: data,
                complete: function () {
                    $("#loginForm").remove();
                    $("#loginScript").remove();
                },
                success: function (response) {
                    $("#output").append(response);
                },
                error: function (req, status, error) {
                    addTextToConsole("error - service is still under developing");
                }
            });
        };
    </script>@*Ajax login script*@
}