@model AirTalk.Models.DBModels.Theme;
@{
    ViewData["Title"] = "CreateTheme";
}

<div>
    <form asp-action="CreateTheme" asp-controller="Main">
<h1>CreateTheme</h1>
    <div>
        <label asp-for="name">Name:</label><br />
        <input asp-for="name" placeholder="Write here header"/><br />
    </div>
    <div>
        <label asp-for="body">Body:</label><input asp-for="body" placeholder="Write here main message"/><br />
        <label >User creator</label><label>@User.Identity.Name</label>
    </div>
        <button type="submit">Create theme</button>
    </form>
</div>

