@model MainInfoViewModel
@{
    ViewData["Title"] = "View";
}

<h1>View</h1>
<ul>
    @{
        foreach(var t in Model.allThemes)
        {
            <li><a asp-action="SelectTheme" asp-route-id="@t.id">@t.name</a></li>
        }
    }
</ul>

